.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  margin-top: 10px;
}

.App-header {
  background-color: #222;
  height: 200px;
  padding: 20px;
  min-width: 500px;
  color: white;
}

.App-header h2 {
  margin-top: 35px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.modal-dialog {
  margin: 300px auto;
}

#modalBtnContainer {
  margin-left: auto;
  margin-right: auto;
  width: 330px;
}

.modalBtn {
  background: #61DAFB;
  display: inline-block;
  width: 145px;
  height: 145px;
  margin: 10px;
  text-align: center;
}

.container {
  min-width: 500px;
  margin-bottom: 20px;
}

#board {
  width: 500px;
  height: 500px;
  margin: 30px auto;
}

.gameBtn {
  width: 29%;
  height: 29%;
  vertical-align: top;
  display: inline-block;
  background: #61DAFB;
  margin: 2%;
}

.gameBtn span,
.modalBtn span {
  display: inline-block;
  height: 100%;
  width: 100%;
  line-height: 145px;
  vertical-align: middle;
  font-size: 10em;
  cursor: default;
}

#declareWinner .modal-body {
  text-align: center;
  font-size: 6em;
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  background: #222;
  color: white;
}

#footer span {
  float: right;
  display:inline-block;
  height: 100%;
  line-height: 40px;
  vertical-align: middle;
  padding-right: 20px;
  font-size: 1.5em;
}
