#root, .App {
  height: 100%;
  min-height: 500px;
}

.App {
  display: flex;
  flex-direction: column;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

.App-header {
  text-align: center;
  background-color: #222;
  flex-basis: 15%;
  padding: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.modal-dialog {
  margin: 100px auto;
}

#modalBtnContainer {
  margin-left: auto;
  margin-right: auto;
  width: 330px;
}

.modalBtn {
  background: #61DAFB;
  display: inline-block;
  width: 145px;
  height: 145px;
  margin: 10px;
  text-align: center;
}

.container {
  flex-basis: 80%;
  width: 100%;
  text-align: center;
}

#board {
  width: 50vh;
  height: 50vh;
  margin: 30px auto;
}

.gameBtn {
  width: 29%;
  height: 29%;
  vertical-align: top;
  display: inline-block;
  background: #61DAFB;
  margin: 2%;
}

.gameBtn span,
.modalBtn span {
  display: inline-block;
  height: 100%;
  width: 100%;
  line-height: 145px;
  vertical-align: middle;
  font-size: 10em;
  cursor: pointer;
}

#declareWinner .modal-body {
  text-align: center;
  font-size: 6em;
}

#footer {
  flex-basis: 5%;
  background: #222;
  color: white;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

#footer span {
  display: inline-block;
  padding-right: 20px;
  font-size: 1.5em;
}

@media screen and (max-width: 960px) {

}

@media screen and (max-width: 720px) {

}

@media screen and (max-width: 540px) {
  .App-header img {
    height: 30px;
  }

  .App-header h2 {
    font-size: 20px;
  }
}
